<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.wu.cmfz.dao.ManagerDao">

    <select id="selectByName" resultType="Manager">
        select mgr_id,mgr_name,mgr_pwd,salt,mgr_status from manager where mgr_name=#{name}
    </select>
    
</mapper>
