<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.wu.cmfz.dao.MasterDao">
    <resultMap id="MasterMap" type="Master">
        <id property="masterId" column="master_id"/>
        <result property="masterName" column="master_name"/>
        <result property="masterPhoto" column="master_photo"/>
        <result property="masterSummary" column="master_summary"/>
    </resultMap>

    <select id="selectMaster" resultMap="MasterMap">
        select master_id,master_name,master_photo,master_summary
        from master
        <if test="sele!=null">where master_name like #{masterName}</if>
        limit #{begin},#{showSize}
    </select>

    <select id="selectMasterAll" resultMap="MasterMap">
        select master_id,master_name,master_photo,master_summary
        from master
    </select>

    <select id="countMaster" resultType="int">
         select count(*) from master
         <if test="sele!=null">where master_name like #{masterName}</if>
    </select>

    <insert id="insertMaster">
         insert into master(master_name,master_photo,master_summary)
         values(#{masterName},#{masterPhoto},#{masterSummary})
    </insert>

    <update id="updateMaster">
         update master set master_name=#{masterName},master_summary=#{masterSummary}
         where master_id=#{masterId}
    </update>

    <insert id="insertAllMaster">
        insert into master(master_name,master_photo,master_summary)
        values
        <foreach collection="list" separator="," item="listMaster">
            (#{listMaster.masterName},#{listMaster.masterPhoto},#{listMaster.masterSummary})
        </foreach>
    </insert>



</mapper>
