<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.wu.cmfz.dao.PictureDao">
    <resultMap id="PicMap" type="Picture">
        <id property="pictureId" column="picture_id"/>
        <result property="picturePath" column="picture_path"/>
        <result property="pictureDate" column="picture_date"/>
        <result property="pictureDescription" column="picture_description"/>
        <result property="pictureStatus" column="picture_status"/>
    </resultMap>

    <select id="selectAllPic" resultMap="PicMap">
        SELECT
        picture_id,
        picture_path,
        picture_date,
        picture_description,
        picture_status
        FROM
        picture
        limit #{begin},#{showSize}
    </select>

    <select id="countPic" resultType="int">
        select count(*) from picture
    </select>

    <select id="selectPicById" resultMap="PicMap">
        SELECT
        picture_id,
        picture_path,
        picture_date,
        picture_description,
        picture_status
        FROM
        picture
        where picture_id=#{picId}
    </select>

    <insert id="insertPic">
        insert into picture
        values(#{pictureId},#{picturePath},#{pictureDate},#{pictureDescription},#{pictureStatus})
    </insert>

    <update id="updatePic">
        update picture set picture_description=#{pictureDescription},picture_status=#{pictureStatus}
        where picture_id=#{pictureId} 
    </update>
    
</mapper>
